<div id="clearance" class="sign-in container-fluid"> 
    <div class='sign-in-title-container'>
      <span class='sign-in-title'> SIGN IN </span>
    </div>

    <%= render partial: '/sessions/form' %>
</div>
