<div class='container-table-page'> 
  <p class='table-page-title' id ='table'>Listing Users</p>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Uses</th>
    </tr>
  
    <% @users.each do |user| %>
      <tr class='table-row'>
        <td><div style="width: 50px" ><%= user.name %></div></td>
        <td><div style="width: 50px" ><%= user.uses %></div></td>
      </tr>
    <% end %>
  </table>
</div>