<div class="container" id="home">
	<div class="col" id="home-col">
	<% if signed_in? %>
		<%= button_to open_path, :method => :post, class: "home-content" do %>
			<div> 
				<div class="text-link-container1 container">
					<p class='text-link1'>Your Usage: <%= current_user.uses %></p>
				</div>

				<div class="text-link-container2">
					<p class='text-link2'>Open Sesame</p>
				</div>
				<div class="text-link-container3"> 
					<p class='text-link3'> Signed in as: <%= current_user.name %></p>
				</div>
				<div class="text-link-container4 container">
					<p class='text-link4'>Tap Anywhere to Open</p>
				</div>
			</div>
		<%end %>
	<% end %>
	<div>
</div>

